<div>
    <h3 class="d-flex justify-content-center">Map Example</h3>
    <div class="d-flex justify-content-evenly">
        <button type="button" (click)="normalApi()" class="btn btn-primary">Normal API Call</button>
        <button type="button" (click)="concatMapCall()" class="btn btn-primary">Concat Map Example</button>
        <button type="button" (click)="mergeMapCall()" class="btn btn-primary">Merge Map Example</button>
        <button type="button" (click)="forkJoinCall()" class="btn btn-primary">ForkJoin Example</button>
        <button type="button" (click)="nestedCall()" class="btn btn-primary">Nested Api Example</button>
    </div>
</div>