<table class="table">
    <thead>
      <tr id="table-1-head">
        <th scope="col">
          <div (click)="sortby('id',$event,'table-1-head')" class="tbl-head" id='t-id'>
            <span>#</span><span class="icone"></span>
          </div>
        </th>
        <th scope="col">
          <div (click)="sortby('name',$event,'table-1-head')" class="tbl-head" id='t-name'>
            <span>name</span><span class="icone"></span>
          </div>
        </th>
        <th scope="col">
          <div  (click)="sortby('email',$event,'table-1-head')" class="tbl-head" id='t-email'>
            <span>email</span><span class="icone"></span>
          </div>
        </th> 
        <th scope="col">
          <div  (click)="sortby('phone',$event,'table-1-head')" class="tbl-head" id='t-phone'>
            <span>phone</span><span class="icone"></span>
          </div>
        </th>
        <th scope="col">
          <div (click)="sortby('username',$event,'table-1-head')" class="tbl-head" id='t-username'>
            <span>username</span><span class="icone"></span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of userList; index as i">
        <th scope="row">{{list?.id}}</th>
        <td>{{list?.name}}</td>
        <td>{{list?.email}}</td>
        <td>{{list?.phone}}</td>
        <td>{{list?.username}}</td>
      </tr>
    </tbody>
  </table>

  <!-- <table class="table">
    <thead>
      <tr id="table-2-head">
        <th scope="col" (click)="sortby1('id',$event,'table-2-head')" class="tbl-head d-flex" id='t-id'>#<span></span></th>
        <th scope="col" (click)="sortby1('name',$event,'table-2-head')" class="tbl-head d-flex" id='t-name'>name<span></span></th>
        <th scope="col" (click)="sortby1('email',$event,'table-2-head')" class="tbl-head d-flex" id='t-email'>email<span></span></th> 
        <th scope="col" (click)="sortby1('body',$event,'table-2-head')" class="tbl-head d-flex" id='t-body'>body<span></span></th>
        <th scope="col" (click)="sortby1('postId',$event,'table-2-head')" class="tbl-head d-flex" id='t-postId'>postId<span></span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of commentsList; index as i">
        <th scope="row">{{list?.id}}</th>
        <td>{{list?.name}}</td>
        <td>{{list?.email}}</td>
        <td>{{list?.body}}</td>
        <td>{{list?.postId}}</td>
      </tr>
    </tbody>
  </table> -->
  <div (click)="divClick()" class="bg-primary d-flex justify-content-center ">
    <button type="button" class="p-5 m-5" (click)="btnClick();$event.stopPropagation()">CLick</button>
  </div>